.bluediv {
  height: 90px;
  width: 100vw;
  background: #2aa7ff;
}

.navbardiv {
  height: 60px;
  width: 100vw;
  background: rgb(235, 242, 255);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoimg {
  height: 25px;
  width: 70px;
  margin-left: 50px;
}

.navbardivcontainer {
  height: 30px;
  width: 850px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 50px;
}

span {
  font-size: 13px;
  color: #102851;
  cursor: pointer;
}
